<h2>Edit task</h2>
<div class="w-50">
  <%= form_for(@task) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
    </div>

    <div class="form-check">
      <%= f.check_box :completed, class: 'form-check-input' %>
      <%= f.label :completed %>
    </div>
    <%= f.submit class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
